//variables

// used colors:

@import "./scss/globals";
@import "./scss/mixin";

// Start Utility classes

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}

.fullwidth {
  width: 100%;
}

// app page

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.floor--header {
  padding: 2rem;
  position: fixed;
  .search--button {
    @include center-content-x;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid $secondary-color;
    color: $primary-color;
    background-color: $primary-color;
    outline: none;
    cursor: pointer;
    img {
      width: 24px;
    }
  }
}

.nav {
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 50px 0;
  padding: 3rem;
  background-color: $primary-color;
  &--search--button {
    @include center-content-x;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 2px solid $secondary-color;
    background-color: $primary-color;
    outline: none;
    cursor: pointer;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  &.floor--footer {
    width: unset;
    right: 0;
  }
  .navigation {
    margin-left: 42px;
    display: flex;
    align-items: center;
    gap: 2rem;
    &--button {
      @include center-content-x;
      min-height: 60px;
      min-width: 190px;
      padding: 0.5rem 2rem;
      border-radius: 30px;
      outline: none;
      border: 3px solid $secondary-color;
      background-color: $primary-color;
      color: $secondary-color;
      cursor: pointer;
      font-size: 28px;
      font-weight: 600;
      text-transform: capitalize;
      &.active {
        background-color: $secondary-color;
        color: $primary-color;
      }
      &:hover {
        background-color: #000000;
      }
    }
  }
  .ordo {
    display: flex;
    gap: 1rem;
    align-items: center;
    &--logo {
      height: 70px;
    }
    h4 {
      color: $white;
      font-size: 18px;
      font-weight: 300;
      max-width: 170px;
      text-transform: capitalize;
    }
    &.floor--ordo {
      margin-left: auto;
      .ordo--logo {
        height: 60px;
      }
      h4 {
        font-size: 21px;
        font-weight: 400;
        max-width: 160px;
      }
    }
  }
}

.header--label {
  font-size: 1.5rem;
  font-weight: 300;
  color: #ffffff;
}

.counter {
  @include center-content-x;
  h2 {
    font-family: $barlow;
    font-size: 12rem;
    font-weight: 700;
    color: $secondary-color;
    line-height: 0.9;
  }
  &.unit {
    h2 {
      font-size: 8rem;
    }
  }
}

.building {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  &--shape {
    width: 100%;
  }
}

.floor {
  width: 100vw;
  height: 100vh;
  display: flex;
  .content--wrapper {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    gap: 2rem;
    padding: 1rem;
    & > svg {
      height: 100%;
    }
  }
}

.loading--page {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: $secondary-color;
  @include center-content-y;
  gap: 1rem;
  &__img {
    width: 250px;
  }
  &__text {
    font-size: 2rem;
    font-weight: 700;
    color: $primary-color;
  }
}

// authentication styles

.expired {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 6rem;
  @include center-content-y;
  &--image {
    width: 30%;
    height: 30%;
    margin-bottom: 2rem;
  }
  &--message {
    font-size: 1.5rem;
    font-weight: 600;
    color: #14687b;
  }
}
.unit {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5rem;

  .preview {
    align-self: center;
    width: 300px;
    .preview {
      height: 100%;
      &--path {
        fill: $accent;
        &.active--blinker {
          fill: $yellow;
          animation: blinker 1s ease-in-out infinite;
        }
      }
    }
  }
  .view {
    align-self: center;
    img {
      width: 280px;
      height: 300px;
      object-fit: contain;
    }
  }
  .statistics {
    display: flex;
    justify-content: space-between;
    &--item {
      h3 {
        font-size: 3rem;
        color: $white;
        font-weight: 700;
      }
      p {
        font-size: 1.8rem;
        color: $white;
        font-weight: 400;
      }
    }
  }
  .unit--footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .unit--info {
      display: flex;
      flex-direction: column;
      h3 {
        font-size: 6rem;
        color: $secondary-color;
        font-weight: 700;
      }
    }
    .navigation {
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 0.4rem;
      // p {
      //   font-size: 2rem;
      //   color: $white;
      //   font-weight: 400;
      // }
      &.back {
        margin-top: auto;
        flex-direction: row-reverse;
      }
    }
    .unit--footer--text {
      font-size: 2rem;
      color: $white;
      font-weight: 400;
    }
  }
}

// the search modal

.modal-overlay {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 21px;
  padding: 4rem;
  width: 40%;
  background: $primary-color;
  border-radius: 20px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  &--body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &__radios {
      display: flex;
      gap: 2rem;
      margin-bottom: 6px;
      & > * {
        flex: 1;
      }
      .radio {
        position: relative;
        display: block;
        .radio--button {
          @include buttonStyle($active: false);
          width: 100%;
        }
        &.selected {
          .radio--button {
            @include buttonStyle($active: true);
          }
        }
        .radio--input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
        }
      }
    }
    &__search {
      .search--input {
        width: 100%;
        border: 2px solid $secondary-color;
        background-color: $primary-color;
        color: $secondary-color;
        border-radius: 15px;
        padding: 21px;
        font-size: 24px;
        &:focus {
          outline: none;
        }
        &::placeholder {
          font-size: 18px;
          font-weight: 300;
          color: $secondary-color;
        }
      }
      .error--block {
        color: $red;
        display: none;
        margin-top: 0.75rem;
        font-size: 1rem;
      }
      &.error {
        .search--input {
          border-color: $red;
        }
        .error--block {
          display: block;
        }
      }
    }
    &__controls {
      display: flex;
      gap: 2rem;
      & > * {
        flex: 1;
      }
      .submit--button {
        @include buttonStyle($active: true);
      }
      .cancel--button {
        @include buttonStyle($active: false);
      }
    }
  }
}

// responsive import

@import "./scss/responsive";
