// Media queries

@mixin breakpoints($point) {
  @if $point == 4k {
    @media screen and (max-width: 3840px) and (min-width: 2049px) {
      @content;
    }
  }
  @if $point == 2k {
    @media screen and (max-width: 2048px) and (min-width: 1921px) {
      @content;
    }
  }
  @if $point == largescreens {
    @media screen and (max-width: 1920px) and (min-width: 1367px) {
      @content;
    }
  } @else if $point == midscreens {
    @media screen and (max-width: 1440px) {
      @content;
    }
  } @else if $point == laptop {
    @media screen and (max-width: 1280px) {
      @content;
    }
  } @else if $point == ipad {
    @media screen and (max-width: 1024px) {
      @content;
    }
  } @else if $point == tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
  } @else if $point == largmobile {
    @media screen and (max-width: 560px) {
      @content;
    }
  } @else if $point == smallmobile {
    @media screen and (max-width: 360px) {
      @content;
    }
  }
}

@include breakpoints(4k) {
}

@include breakpoints(2k) {
}
@include breakpoints(largescreens) {
  .modal {
    width: 40%;
    min-width: 550px;
  }
}

@include breakpoints(laptop) {
  .modal {
    width: 40%;
    min-width: 500px;
    padding: 3rem;
  }
}

@include breakpoints(ipad) {
  .modal {
    width: 60%;
    min-width: 500px;
    padding: 3rem;
  }
}

@include breakpoints(tablet) {
  .nav {
    width: 480px;
    padding: 2rem;
    border-radius: 0 0 35px 0;
  }
  .modal {
    width: 90%;
    padding: 2rem;
  }
}

@include breakpoints(largmobile) {
  .nav {
    width: 100%;
    padding: 2rem;
    border-radius: 0;
  }
}

@include breakpoints(smallmobile) {
}
